@model dynamic
@{
    ViewData["Title"] = "Vehicle Factory - Welcome";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Vehicle Factory</h1>
        <p class="lead">
            Make cars with these 2 easy extra steps.
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="VehicleMake" asp-action="Index" role="button">Make Vehicle</a>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="VehicleModel" asp-action="Index" role="button">Make Model</a>
    </div>
</div>